<mat-accordion>
  <mat-expansion-panel *ngFor="let chapter of chapterCodes; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ i }}</mat-panel-title>
    </mat-expansion-panel-header>
    <div
      style="display: flex; justify-content: space-around; align-items: center"
    >
      <button mat-button>unreaded</button>
      <button
        mat-fab
        color="primary"
        (click)="readChapter(chapter)"
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>open_in_browser</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
