<div>
  <span *ngIf="!(isMangaLoading$ | async)" class="mangaContainer">
    <app-carousel
      style="height: 100vh !important"
      [collection]="(mangasCollection$ | async) ?? []"
      [title]="'Popular Seinens ⚔️'"
      (openMangaDetails)="onOpenMangaDetails($event)"
    ></app-carousel>
    <app-carousel
      [collection]="(mangasCollection$ | async) ?? []"
      [title]="'Popular Shounens 🥊'"
      (openMangaDetails)="onOpenMangaDetails($event)"
    ></app-carousel>
  </span>
  <span *ngIf="isMangaLoading$ | async"
    ><mat-progress-bar
      mode="indeterminate"
      class="progressBar"
    ></mat-progress-bar>
  </span>
</div>
