// .mangaContainer {
//   display: flex;
//   align-content: space-between;
//   flex-wrap: wrap;
//   justify-content: space-around;
// }

.progressBar {
  position: absolute;
  top: 50%;
}

.mangaContainer {
  z-index: 1;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 50vh;
}

.carousel-card {
  margin: 0 10px;
}
