.login-card {
  max-width: 50vw;
}

.login-layer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  width: 40vw;
}

.login-form {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.login-input {
  width: 40vw;
}
