.progressBar {
  position: absolute;
  top: 50%;
}

.imageReaderContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chaptherButtonContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
