<div *ngIf="!(loading$ | async)" class="imageReaderContainer">
  <app-reader-actions
    [nextChapter]="nextChapter"
    [mangaId]="mangaId"
    [lastChapter]="nextChapter"
  ></app-reader-actions>
  <img
    [ngSrc]="image"
    width="900"
    height="1200"
    *ngFor="let image of images$ | async"
    loading="lazy"
    fetchpriority="auto"
    alt=""
  />
  <app-reader-actions
    [nextChapter]="nextChapter"
    [mangaId]="mangaId"
    [lastChapter]="nextChapter"
  ></app-reader-actions>
</div>

<span *ngIf="loading$ | async"
  ><mat-progress-bar
    mode="indeterminate"
    class="progressBar"
  ></mat-progress-bar>
</span>

<div *ngIf="!(loading$ | async) && !(images$ | async)?.length">
  <h2>there is no images for this chapters we are sorry!!</h2>
</div>
