.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.toolbar {
  justify-content: center;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 4;
}

.app-content {
  height: 100vh;
  background: linear-gradient(
    109.6deg,
    rgba(119, 44, 232, 0.68) 11.5%,
    rgb(119, 44, 232) 91.2%
  );
  // background-color: #e5d1fa;
}

.navBarLink {
  & p {
    display: flex;
  }
}
