<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a class="navBarLink" mat-list-item [routerLink]="['/profile']"
        ><p>My profile <mat-icon>account_box</mat-icon></p>
      </a>
      <a class="navBarLink" mat-list-item [routerLink]="['/home']"
        ><p>Home <mat-icon>home</mat-icon></p>
      </a>
      <a class="navBarLink" mat-list-item [routerLink]="['/groups']">
        <p>Groups <mat-icon>group</mat-icon></p>
      </a>
      <a class="navBarLink" mat-list-item [routerLink]="['/login']">Login</a>
      <a class="navBarLink" mat-list-item [routerLink]="['/singUp']">SingUp</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-content">
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        style="float: left"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Supa Manga</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
