.mangaAttributes {
  display: flex;
  justify-content: space-evenly;
}

.mangaData {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stateDetail {
  display: flex;
  justify-content: space-evenly;
}

.mangaCover {
  border: 5px solid;
  max-width: 40vw;
  max-height: 36vh;
  border-color: #673ab7;
  float: left;
  margin: 1vw;
}

.mangaCard {
  border-radius: 20px;
  max-width: 35vw;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 824px) {
  .mangaAttributes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mangaCard {
    max-width: 100vw;
  }
  .stateDetail {
    display: flex;
  }
}
