<div class="carousel-page">
  <h1 class="carousel-title">{{ title }}</h1>
  <button
    mat-fab
    class="carousel-nav-left"
    color="primary"
    (click)="prevSlideButton()"
  >
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <div class="carousel-container" (click)="stopAutoCarousel()">
    <div class="carousel-wrapper" #carouselWrapper>
      <ng-content class="carousel-elements"></ng-content>
    </div>
  </div>
  <button
    mat-fab
    class="carousel-nav-right"
    color="primary"
    (click)="nextSlideButton()"
  >
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
