<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar [ngClass]="getMangaStateClass(manga.state)"></div>
    <mat-card-title class="card-title">{{ manga.title }}</mat-card-title>
    <mat-card-subtitle>{{ manga.genre }}</mat-card-subtitle>
  </mat-card-header>
  <img
    rel="noreferrer"
    mat-card-image
    [attr.src]="manga.cover"
    width="300"
    height="300"
    alt=""
    loading="lazy"
  />
  <mat-card-content class="card-description">
    {{ manga.description }}
  </mat-card-content>
  <mat-card-actions>
    <app-share-button
      style="margin-right: 10px"
      [url]="mangaUrl"
    ></app-share-button>
    <button mat-raised-button (click)="openMangaDetails.emit(manga._id)">
      READ
    </button>
  </mat-card-actions>
</mat-card>
